.botao{
  background: var(--cor-principal);
  border: .3rem solid var(--cor-complementar);
  border-radius: .5rem;
  color: white;
  font-family: Mukta;
  font-size: 2rem;
  height: 5rem;
  margin: 4rem 0;
  padding: 0 3rem;
  transition: background 0.5s ease-in-out, color 0.5s;
  text-transform: uppercase;
}

.botao:hover{
  color: var(--cor-principal);
  background: white;
}

.botao--novaPagina{
  margin: 0;
  width: 15rem;
  padding: 0;
}

.botao--cancelar{
  background: none;
  color: #FF0000;
  border-color: #8D0000;
}

.botao--filtro{
  color: white;
  display: flex;
  align-items: center;
  height: 5rem;
}