.sobre__paragrafo {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1366px) {
    .sobre__paragrafo{
        margin: 0;
    }

    .sobre__paragrafo--caverna{
        grid-column: 1;
        grid-row: 1;
    }
}