.conteudo__titulo{
  color: var(--cor-principal);
  font-family: Mukta;
  font-size: 2.3rem;
  padding: 3rem 0;
}

.conteudo__titulo--cervejaAlternativo{
  font-size: 3rem;
  margin: 0;
}

.conteudo__titulo--cerveja{
  color: white;
}

.conteudo__titulo--alternativo{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
}

@media screen and (min-width:768px) {
  .conteudo__titulo{
    font-size: 3.5rem;
  }
}
