@media screen and (min-width: 768px){

    .novaPagina__item--imagem{
        grid-column: 1/2 span;
    }

    .novaPagina__item--origem{
        grid-column: 1/2 span;
    }
}

@media screen and (min-width: 1368px){
    .novaPagina__item--imagem{
        grid-column: 1/3 span;
    }

    .novaPagina__item--origem{
        grid-column: 1/3 span;
    }

    .novaPagina__item--slogan{
        grid-column: 2/2 span;
    }
}