.menu__botao{
  background: none;
  border: 0;
  outline: 0;
  width: 5rem;
  height: 5rem;
  padding: 0;
}

.menu__botao--hamburguer{
  text-align: left;
}

.menu__botao--lupa{
  text-align: right;
}

@media screen and (min-width: 1368px){
  .menu__botao{
    display: none;
  }
}
