.menu__icone{
  fill: white;
  stroke: #fff;
  transition: 0.5s stroke, 0.5s fill;
}

.menu__icone:hover{
  fill: #6F3600;
  stroke: #6F3600;
}

.menu__icone--logo{
  stroke: none;
}

.menu__icone--logo:hover{
  stroke: none;
}
