.menu__barra{
  background-image: linear-gradient(#F07400, #F07400 24rem, #6F3600);
  font-family: Mukta;
  font-size: 2.5rem;
  height: calc(100vh - 5rem);
  max-width: 30rem;
  position: absolute;
  left: 0rem;
  top: 5rem;
  transition: 0.5s left;
  width: 28rem;
  z-index: 1;
}

.menu__barra--fechado{
  left: -28rem;
}

@media screen and (min-width: 1368px){
  .menu__barra{
    height: auto;
    max-width: none;
    position: static;
    width: auto;
  }
}