.menu__item{
  color: white;
  border-bottom: .1rem solid white;
  line-height: 5rem;
  cursor: pointer;
  transition: 0.5s background-color;
}

.menu__item:hover{
  background-color: var(--cor-complementar);
}

@media screen and (min-width: 1368px){
  .menu__item{
    border-bottom: none;
  }

  .menu__item::after{
    border-bottom: none;
    content: "|";
  }

  .menu__item--novaPagina{
    margin-left: auto;
    font-size: 2rem;
  }

  .menu__item--novaPagina::after{
    content: "";
  }
}