.menu__icone{
  fill: white;
  stroke-width: 0;
  transition: 0.5s fill;
}

.menu__icone:hover{
  fill: var(--cor-complementar);
  stroke: var(--cor-complementar);
}

.menu__icone--logo{
  stroke: none;
  height: 4rem;
}

.menu__icone--logo:hover{
  stroke: none;
}

.menu__icone--lupa{
  height: 3.4rem;
}

.menu__icone--hamburguer{
  height: 2rem;
  vertical-align: middle;
}

.menu__icone--filtro{
  height: 1.8rem;
}

@media screen and (min-width: 1368px){
  .menu__icone--lupa{
    stroke: var(--cor-principal);
    fill:  var(--cor-principal);
  }
}
