<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <title>Sobre</title>

  <link rel="stylesheet" href="css/sobre/sobre.css">
  <link rel="stylesheet" href="css/sobre/sobre-conteiner.css">
  <link rel="stylesheet" href="css/sobre/sobre-conteudo.css">
  <link rel="stylesheet" href="css/sobre/sobre-paragrafo.css">
  <link rel="stylesheet" href="css/sobre/sobre-grid-curiosidades.css">
  <link rel="stylesheet" href="css/sobre/sobre-grid-imagem.css">
  <link rel="stylesheet" href="css/sobre/sobre-grid-texto.css">
  <link rel="stylesheet" href="css/sobre/sobre-imagem.css">
  <link rel="stylesheet" href="css/sobre/sobre-ninkasi-imagem.css">
  <link rel="stylesheet" href="css/sobre/sobre-ninkasi-texto.css">
  <link rel="stylesheet" href="css/sobre/sobre-ninkasi.css">

  <link rel="stylesheet" href="css/titulo.css">
</head>

<body class="fonte">

  <div class="breadcrumb">
    <span>Você esta em:</span>
    <ul class="breadcrumb__lista">
      <li class="breadcrumb__item"><a class="breadcrumb__link" href="">Home</a></li><span>&#10148;</span>
      <li class="breadcrumb__item"><a class="breadcrumb__link" href="">Sobre</a></li>
    </ul>
  </div>

  <main class="sobre fonte">

    <h1 class="titulo">Historia das Cervejas</h1>

    <div class="sobre__conteudo">
      <div class="sobre__conteiner--egipcios">
        <p class="sobre__paragrafo">
          Historicamente, a cerveja já era conhecida pelos antigos sumérios, egípcios, mesopotâmios e iberos,
          remontando, pelo menos, a 6 000 a.C.
          A agricultura surgiu na Mesopotâmia em um período entre a revolução do Neolítico e a Idade dos
          Metais. A
          mais antiga lei que regulamenta
          a produção e a venda de cerveja é a Estela de Hamurabi, que data de 1 760 a.C. Nela, se condena à
          morte
          quem não respeita os critérios
          de produção de cerveja indicados. Incluía várias leis de comercialização, fabricação e consumo da
          cerveja, relacionando direitos e
          deveres dos clientes das tabernas. O Código de Hamurabi também estabelecia uma ração diária de
          cerveja
          para o povo da Babilônia: 2 litros
          para os trabalhadores, 3 para os funcionários públicos e 5 para os administradores e o sumo
          sacerdote. O
          código também impunha punições
          severas para os taberneiros que tentassem enganar os seus clientes.
        </p>

        <img src="imgs/h-mesopotania.jpg" class="sobre__imagem sobre__imagem--espaco" alt="">
      </div>

      <div class="sobre__ninkasi">
        <p class="sobre__paragrafo sobre__ninkasiTexto">
          A notícia mais antiga que se tem da cerveja vem de 2 600 a 2 350 a.C. Desta época, arqueólogos
          encontraram menção no Hino a Ninkasi, a
          deusa da cerveja, de que os sumérios já produziam a bebida. Já na Babilônia dá-se conta da
          existência de
          diferentes tipos de cerveja, originadas
          de diversas combinações de plantas e aromas, e o uso de diferentes quantidades de mel. Mesopotâmios
          estavam bebendo cerveja de vasos individuais há 3.500 anos.
        </p>

        <div class="sobre__ninkasiImagem">
          <img src="imgs/h-ninkasi-clip.png" class="sobre__imagem sobre__imagem--ninkasi" alt="">
        </div>

        <p class="sobre__paragrafo sobre__ninkasiTexto">Posteriormente, no antigo Egito, a cerveja, segundo o
          escritor grego Ateneu
          de Náucrates (século
          III), teria sido inventada para ajudar a quem não tinha como pagar o vinho. Inscrições em
          hieróglifos e obras artísticas testemunham o gosto deste povo pelo henket ou zythum, apreciado por
          todas as camadas sociais. Até um dos faraós, Ramessés III (r. 1184–1153 a.C.), passou a ser
          conhecido como "faraó-cervejeiro" após doar, aos sacerdotes do Templo de Amon, 466 308 ânforas ou
          aproximadamente um milhão de litros de cerveja provenientes de suas cervejeiras.</p>
      </div>

      <div class="sobre__conteiner sobre__conteiner--vaso">
        <img src="imgs/h-anfora-2.jpg" class="sobre__imagem sobre__imagem--vaso" alt="">
        <p class="sobre__paragrafo">Praticamente qualquer açúcar ou alimento que contenha amido pode,
          naturalmente,
          sofrer fermentação
          alcoólica. Assim, bebidas semelhantes à cerveja foram inventadas de forma independente em
          diversas
          sociedades em redor do mundo. Na Mesopotâmia, a mais antiga evidência referente à cerveja está
          numa
          tabua sumeriana com cerca de 6000 anos de idade na qual se veem pessoas tomando uma bebida
          através
          de juncos de uma tigela comunitária. A cerveja também é mencionada na Epopeia de Gilgamesh. Um
          poema
          sumeriano de 3900 anos homenageando a deusa dos cervejeiros, Ninkasi, contém a mais antiga
          receita
          que sobreviveu, descrevendo a produção de cerveja de cevada utilizando pão.</p>

        <p class="sobre__paragrafo">A cerveja teve alguma importância na vida dos primeiros romanos, mas,
          durante a
          República Romana, o vinho
          destronou a cerveja como a bebida alcoólica preferida, passando esta a ser considerada uma
          bebida
          própria de bárbaros. Tácito, em seus dias, escreveu depreciativamente acerca da cerveja
          preparada
          pelos
          povos germânicos.</p>
      </div>

      <div class="sobre__conteiner">
        <img src="imgs/h-viking.jpg" class="sobre__imagem sobre__imagem--chifre" alt="">
        <p class="sobre__paragrafo">Na Idade Média, vários mosteiros fabricavam cerveja, empregando diversas
          ervas
          para aromatizá-la, como
          mírica, rosmarinho, louro, sálvia, gengibre e o lúpulo, este utilizado até hoje e introduzido no
          processo de fabricação da cerveja entre os anos 700 e 800. O uso de lúpulo para dar o gosto amargo
          da
          cerveja e para preservá-la é atribuída aos monges do Mosteiro de San Gallo, na Suíça. Houve um tempo
          em
          que o papel da levedura na fermentação era desconhecido. Na Era Viquingue, cada família tinha sua
          própria vara de cerveja que eles usavam para agitar a bebida durante a produção. Estas varas de
          cerveja
          eram consideradas herança de família, porque era o uso da vara que garantia que a cerveja daria
          certo.
          Hoje em dia, sabe-se que estas varas continham uma cultura de levedura. A Lei da Pureza Alemã de
          cerveja
          de 1516 - a Reinheitsgebot - definia os únicos materiais permitidos para fabricação de cerveja como
          sendo malte, lúpulo e água. Com a descoberta do fermento e de sua função no final da década de 1860
          por
          Louis Pasteur, a lei teve que ser alterada.</p>
      </div>

      <div class="sobre__conteiner sobre__conteiner--caverna">
        <img src="imgs/h-caverna.jpg" class="sobre__imagem  sobre__imagem--caverna" alt="">

        <p class="sobre__paragrafo sobre__paragrafo--caverna">A maior parte das cervejas, até tempos
          relativamente recentes, eram do tipo
          que
          agora chamamos de ales.
          As lagers foram descobertas por acidente no século XVI, quando a cerveja era estocada em frias
          cavernas
          por longos períodos; desde então, elas ultrapassaram largamente as cervejas tipo ale em volume. O
          lúpulo
          é cultivado na França desde o século IX. O mais antigo escrito remanescente a registrar o uso do
          lúpulo
          na cerveja data de 1067 pela abadessa Hildegarda de Bingen: "Se alguém pretender fazer cerveja da
          aveia,
          deve prepará-la com lúpulo." No século XV, na Inglaterra, a fermentação sem lúpulo podia dar origem
          a
          uma bebida tipo ale - o uso do lúpulo torná-la-ia uma cerveja. A cerveja com lúpulo era importada
          para a
          Inglaterra (a partir dos Países Baixos) desde cerca de 1400, em Winchester. O lúpulo passou a ser
          cultivado na ilha a partir de 1428. A Companhia dos Fabricantes de Cerveja de Londres foi longe a
          ponto
          de especificar que "nenhum lúpulo, ervas, ou coisa semelhante será colocada dentro de nenhuma ale ou
          bebida alcoólica enquanto a ale estiver sendo feita - mas somente um licor (água), malte e uma
          levedura". Contudo, por volta do século XVI, "ale" veio a referir-se a qualquer cerveja forte, e
          todas
          as ales e cervejas continham lúpulo.</p>
      </div>

      <div class="sobre__gridCuriosidades">
        <p class="sobre__paragrafo sobre__gridTexto">No idioma eslavo, a cerveja é chamada piwo (pronuncia-se
          "pivo"), do verbo
          pić
          (pronuncia-se "pítch"),
          "beber". Por isso, piwo pode ser traduzido como "bebida", o que demonstra a importância que lhe é
          concedida.</p>
        <p class="sobre__paragrafo sobre__gridTexto">O Kalevala, poema épico finlandês coligido na forma escrita
          no século XIX
          mas
          baseado em tradições orais
          seculares, contém mais linhas sobre a origem da fabricação de cerveja do que sobre a origem do
          homem.
        </p>
        <p class="sobre__paragrafo sobre__gridTexto sobre__gridTexto--meio">Em 2013, foi desenvolvido pela
          primeira vez
          sorvete e ovo de páscoa a partir
          de
          cerveja.</p>

        <img src="imgs/h-sorvete-cerveja.jpg"
          class="sobre__imagem sobre__imagem--espaco sobre__gridImagem sobre__imagem--sorvete" alt="">
        <img src="imgs/h-ovo-pascoa-cerveja.jpg" class="sobre__imagem sobre__gridImagem sobre__imagem--pascoa" alt="">
      </div>
    </div>

  </main>

</body>
</html>