<div class="breadcrumb">
  <span>Você esta em:</span>
  <ul class="breadcrumb__lista">
    <li class="breadcrumb__item"><a
        class="breadcrumb__link"
        href="/"
      >Home</a></li><span>&#10148;</span>
    <li class="breadcrumb__item"><a
        class="breadcrumb__link"
        href="marcas"
      >Marcas</a></li>
  </ul>
</div>

<section class="conteudo">
  <div class="conteudo__tituloConteiner">
    <h1 class="conteudo__titulo conteudo__titulo--alternativo">Marcas</h1>
    <span class="botao--filtro" data-botaoFiltro>Filtro
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="menu__icone menu__icone--filtro"
        viewBox="0 0 35 35"
        xml:space="preserve"
      >
        <path
          d="M20.8 22.5h-6.7c-2.8 0-5 2.2-5 5s2.2 5 5 5h6.7c2.8 0 5-2.2 5-5s-2.2-5-5-5zM17.5 20.8.8 2.5h33.3L17.5 20.8z"
        ></path>
      </svg>
    </span>
  </div>
  <div class="filtro filtro--fechado" data-filtro>
    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Origem</span>
      <div class="filtro__itens">
        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">Brasil</label>
        </div>

        <div class="filtro__item">
          <input
            type="checkbox"
            name="origemEstadosUnidos"
            id="origemEstadosUnidos"
          />
          <label class="filtro__label" for="origemEstadosUnidos">Estados Unidos</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemArgentina" id="origemArgentina" />
          <label class="filtro__label" for="origemArgentina">Argentina</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemJapao" id="origemJapao" />
          <label class="filtro__label" for="origemJapao">Japão</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemCanada" id="origemCanada" />
          <label class="filtro__label" for="origemCanada">Canadá</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemFranca" id="origemFranca" />
          <label class="filtro__label" for="origemFranca">França</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemItalia" id="origemItalia" />
          <label class="filtro__label" for="origemItalia">Italia</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemPortugal" id="origemPortugal" />
          <label class="filtro__label" for="origemPortugal">Portugual</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemAustralia" id="origemAustralia" />
          <label class="filtro__label" for="origemAustralia">Austrália</label>
        </div>
      </div>
    </div>

    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Estilos de Cerveja</span>
      <div class="filtro__itens">
        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">&lt; 1%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">1% a 2%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">2% a 5%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">5% a 10%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">10% a 20%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">20% a 30%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">30% a 40%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">40% a 60%</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">&gt; 70%</label>
        </div>
      </div>
    </div>

    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Ordem</span>
      <div class="filtro__itens filtro__itens--orderm">
        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">Ordem alfabetica</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">Data</label>
        </div>
      </div>
    </div>
  </div>

  <div class="galeria galeria--alternativa">
    {{#each posts}}
      <div class="galeria__moldura galeria__moldura--alternativa">
        <a class="galeria__link" href="marcas/{{dataValues.id}}">
          <img class="galeria__imagem" src="/imgs/{{dataValues.imagemMarca}}" alt="" />
          <div class="galeria__overlay">
            <h3 class="galeria__titulo">{{dataValues.nomeMarca}}</h3>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</section>