<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Página</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/menu/menu-navegacao.css">
    <link rel="stylesheet" href="css/menu/menu-ativo.css">
    <link rel="stylesheet" href="css/menu/menu-barra.css">
    <link rel="stylesheet" href="css/menu/menu-base.css">
    <link rel="stylesheet" href="css/menu/menu-botao.css">
    <link rel="stylesheet" href="css/menu/menu-fechado.css">
    <link rel="stylesheet" href="css/menu/menu-icone.css">
    <link rel="stylesheet" href="css/menu/menu-item-icone.css">
    <link rel="stylesheet" href="css/menu/menu-item.css">
    <link rel="stylesheet" href="css/menu/menu-lista.css">
    <link rel="stylesheet" href="css/menu/menu-pesquisa.css">
    <link rel="stylesheet" href="css/menu/menu.css">

    <link rel="stylesheet" href="css/nova-pagina/nova-pagina.css">
    <link rel="stylesheet" href="css/nova-pagina/nova-pagina-botoes.css">
    <link rel="stylesheet" href="css/nova-pagina/nova-pagina-entrada.css">
    <link rel="stylesheet" href="css/nova-pagina/nova-pagina-formulario.css">
    <link rel="stylesheet" href="css/nova-pagina/nova-pagina-item.css">
    <link rel="stylesheet" href="css/nova-pagina/nova-pagina-titulo.css">

    <link rel="stylesheet" href="css/nova-pagina.css">

    <link rel="stylesheet" href="css/titulo.css">

    <link rel="stylesheet" href="css/botao.css">
</head>

<body class="fonte corpo">
    <header class="menu">
        <nav class="menu__navegacao">
            <div class="menu__base">
                <button class="menu__botao">
                    <svg xmlns="http://www.w3.org/2000/svg" class="menu__icone menu__icone--hamburguer"
                        viewBox="0 0 26.8 20" xml:space="preserve">
                        <path
                            d="M25.3 3.2H1.6C.7 3.2 0 2.5 0 1.6S.7 0 1.6 0h23.7c.9 0 1.6.7 1.6 1.6s-.8 1.6-1.6 1.6zM25.3 11.6H1.6C.7 11.6 0 10.9 0 10c0-.9.7-1.6 1.6-1.6h23.7c.9 0 1.6.7 1.6 1.6-.1.9-.8 1.6-1.6 1.6zM25.3 20H1.6C.7 20 0 19.3 0 18.4c0-.9.7-1.6 1.6-1.6h23.7c.9 0 1.6.7 1.6 1.6-.1.9-.8 1.6-1.6 1.6z" />
                    </svg>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" class="menu__icone menu__icone--logo" viewBox="0 0 175 105"
                    xml:space="preserve">
                    <path
                        d="m38.3 41.6 2.7-1.9s0-5-2.8-10.5c0 0 3.8-10.2 18.5-13.5 0 0-13.7 1.9-19.3 13 0 0-3.8 2.6-6.1 7.7.2.1 3.9 2.1 7 5.2z" />
                    <path
                        d="M31.1 36.2s2.4-4.6 3.9-5.8c0 0-2.8-4.4-5.1-6 0 0-.6-12.6 11.6-19.9 0 0-11.7 5.6-12.5 19.7 0 0-2.7 5.3-2.4 10 0 .1 3.4 1.4 4.5 2z" />
                    <path
                        d="M33.7 46.8s1.9-3 4.4-4.9c0 0-5.6-5.9-12.6-7.6 0 0-8-8.6-22.9-8.6 0 0 13.3.1 22.5 9.4 0 0-.6 2.8 2.1 10-.1 0 4.3.8 6.5 1.7z" />
                    <path
                        d="M40.8 50.5s1.6-1.6 4-3c0 0 .8-4.8-.1-8.1 0 0 3.8-4.9 12.1-7.3v-.3s-8.5 2-12.5 6.9c0 0-6 1.9-10.2 8.3 0 0 4.1 1.7 6.7 3.5z" />
                    <path
                        d="M42.2 58.3s2.1-2.8 5.5-4.8c0 0-.1-3.4-.8-5.6 0 0 3-4.6 10-7.5l.1-.4s-7.4 2.9-10.6 7.3c0 0-5.5 2.1-9.3 9-.1 0 3.4 1.2 5.1 2z" />
                    <path
                        d="M39.9 63.1s2.1-5.6 8.5-9.5c0 0 2.5-3.8 7.7-6.7l-.1.6s-4.5 2.8-6.9 6.7c0 0 1.4 3.9 1.4 7.6 0 0-2.5 2.2-3.5 3.6-.1 0-4.5-1.8-7.1-2.3z" />
                    <path
                        d="M44.4 71.6s1.8-6.4 7.3-10.2c0 0 1.4-2.4 2.6-3.6l.5.4s-2 2.7-2.4 3.6c0 0 1.5 3.2 1.9 5.8 0 0-2.7 2.6-3.9 5 .1 0-3.8-.8-6-1zM57.9 74.2l-.8-4.3L56 68l.5-1.3-.2-1.2-1.1 2.1s-5 4.4-6.1 10.9c0 0 4.5 0 7.2.4l.8-1.6-.3-1.4s0-1.2 1.1-1.7zM60.4 85.2l-1-4.2s-1-.1-1.5-.7-.6-1.9-.6-1.9-1.8 4.2-1.7 7.3c.1.1 3.9-.5 4.8-.5zM36.6 56.2s1.8-3.2 3.9-5.4c0 0-8.3-5.6-16.3-5.4 0 0-11-6.5-24.1-1.3 0 0 11.7-4.7 23.9 2.3 0 0 .8 3.9 4.2 8.6 0 0 3.8-.2 8.4 1.2z" />
                    <path
                        d="M39.4 63s1.5-3 2.5-4.3c0 0-6.9-3.9-15-3.1 0 0-10.8-5.7-24.2.5 0 0 10.4-5.6 24.1.4 0 0 1.1 3.3 3.2 6.1-.1.1 3.4-.7 9.4.4z" />
                    <path
                        d="M43.8 71.6s1.3-4 2.7-5.7c0 0-8.4-3.7-16.9-2.4 0 0-11.6-5-24.1 2.2 0 0 9.6-6.5 24.1-1.2 0 0 2.1 4.8 5.5 7.6 0 0 4-.9 8.7-.5z" />
                    <path
                        d="M48.4 78.5s.1-2.3 1.7-5.2c0 0-9.5-2.2-15.8-.1 0 0-13.1-3.5-23.8 4.7 0 0 9.8-7.4 23.9-3.6 0 0 1.7 3.2 5 5.9-.1 0 3.1-1.3 9-1.7z" />
                    <path
                        d="M54.9 86s-.2-3 1.2-6.3c0 0-8.4-1.3-16.7 1.6 0 0-14.1-2-23.4 7.1 0 0 8.8-8.4 23.5-6.1 0 0 2.4 3.8 7.3 6.3-.1.1 2.6-1.5 8.1-2.6z" />
                    <path
                        d="m68.8 90.7-.9-1.4s-5.1-.8-7.2-3l-.1-.4s-8.4.7-14.3 4.1c0 0-14-.4-22.2 10.2 0 0 6.6-9.1 22.5-9.2 0 0 4.1 4 8.1 5.1 4.8 1.3 7.7 1.6 10.3.8 2.7-.8 3.8-6.2 3.8-6.2z" />
                    <g>
                        <path
                            d="M85.7 100.3s-6.1.9-9.8 1.2A126.8 126.8 0 0 1 41.2 98s-.6-.1-.5-.6c.1-.6.6-.4.6-.4 1.9.4 9.7 1.5 18.1 1.7 8.5.3 16.5-.9 16.5-.9s-6.1-2.2-7.9-3.2c0 0 1.8-2.6 1.3-5l1.9.3a57.1 57.1 0 0 0 14.4 6s5.8-1.7 8.5-2.9 6.1-3 6.1-3l.9-.1s1.9 4.4 5.1 3.4c0 0-6.8 3.5-10.9 4.6 0 0 10.6 1.4 19 .7l8.4-.7 4.2-.5s.5-.1.6.4c.1.5-.4.6-.4.6s-7.6 1.7-13 2.3c-5.3.6-10.6 1.4-17.3.9-6.5-.6-9.9-1-11.1-1.3z" />
                    </g>
                    <g>
                        <path
                            d="M136.8 33s3.2-3 5.5-4.3c0 0-.8-3.4-3.6-7.1 0 0 .8-5.6 5.2-12.4 0 0 5.2-7.2 7.2-8.8 0 0-11.1 9.8-13.3 20.9 0 0-3.6 4.6-4.7 8.5 0 0 2.3 1.4 3.7 3.2z" />
                        <path
                            d="m141.3 40.8 3.3-.6s2.5-6.5 1.2-12c0 0 6.7-9.8 20.8-13.2 0 0-13 1.9-21.4 12.5 0 0-5 2.3-8.2 5.7.1.1 2.7 2.7 4.3 7.6z" />
                        <path
                            d="M138.6 50.4s2.2-.3 5.1-.4c0 0 3.1-3.6 4.3-8.5 0 0 11-6.7 23.9-1.9 0 0-11.2-5.4-24 .9 0 0-4.9-.6-13 3.1.1.1 2.9 3.7 3.7 6.8z" />
                        <path
                            d="M134.4 57.8s3.9-.7 7.4 0c0 0 2.1-2.2 3.3-6.1 0 0 11.3-5.9 24-.1 0 0-10.3-6.3-24.2-.9 0 0-5-.9-13 2 .1 0 1.5 1.8 2.5 5.1z" />
                        <path
                            d="M131.4 66.6s2.6 0 5.1.6c0 0 3.9-3.3 5.7-7.8 0 0 12-5.2 24 1.5 0 0-10.6-7.1-24.1-2.5 0 0-5.5-1.2-13 .9 0 .1 1.9 3.4 2.3 7.3z" />
                        <path
                            d="M125.9 73.8s4.1.7 6.3 1.5c0 0 3.1-2.4 5.2-6 0 0 12.8-4.1 23.8 3.8 0 0-8.9-8-23.8-4.9 0 0-5.4-1.9-12.8-.5 0 0 1.2 2.4 1.3 6.1z" />
                        <path
                            d="M120.2 81.7s2.1.5 4.8 1.9c0 0 4.3-2.1 7.3-6.3 0 0 13.7-2.5 23.4 6.2 0 0-8.5-9-23.2-7.2 0 0-5.7-2.5-12.7-2 0 0 1.1 3.1.4 7.4zM134.7 43.3s3.8-1.9 6.2-2.4c0 0-1.7-7-8.9-11.5 0 0-6-10-20.5-11.3 0 0 13.4 1.2 19.9 11.8 0 0-1.4 3.1-1.7 8.9 0 .1 3.3 2.1 5 4.5z" />
                        <path
                            d="M131.7 52.4s4.3-1.6 6.5-1.8c0 0-2.4-8.6-11.3-12.6 0 0-4-5.1-11.7-7.4l.1.4s6.8 2.3 11 7.7c0 0-1 2.8-.5 8 0-.2 3.2 1.6 5.9 5.7z" />
                        <path
                            d="M128.9 59s3.1-.9 5-1.1c0 0-2.3-7.9-9.5-11.6 0 0-2.4-4-9.2-7.4l.1.5s5.8 3 8.4 7.5c0 0-.8 2-1.1 5.5 0-.2 3.5 1.7 6.3 6.6z" />
                        <path
                            d="M124.4 67.1s2.5-.5 6.4-.5c0 0-.6-8.5-8.9-14.1 0 0-1.6-3.1-5.7-6.1l.1.7s3.5 2.9 5 5.9c0 0-1.2 2.3-1.8 7.2-.1 0 3.4 3 4.9 6.9z" />
                        <path
                            d="M119.6 73.6s2.6-.1 5.5.1c0 0-.3-8.4-7.1-13.7l-.9-1.7-.4.2v.6l.6 1.3-.9 1.8-.7 4.4c0-.1 2.5 2.4 3.9 7z" />
                        <path
                            d="M114.3 80.4s2 .2 5.2 1c0 0 1.4-7.2-3.8-13.9l-1.3 6.7s.6.2.9.8c.4.7.1 1.3.1 1.3l-.7 3.1s0 .6-.4 1zM113.1 81.1s7.9.9 12.4 3.8c0 0 13.8-.6 22.1 10.2 0 0-7.1-9.4-22.5-9.2 0 0-7.6 8.1-18.3 6.1 0 0 4.6-.4 5.6-3.9 1.1-3.5.8-5.5.7-7z" />
                        <path
                            d="M101.8 89.8s6.9-.8 9.7-3.5l.9-3.6s0 3-.7 5.4c-.2.8-.7 1.7-1.6 2.4-1.3 1-3.4 1.7-6.1 1.8 0 0-1.4-1.4-2.2-2.5z" />
                    </g>
                    <g>
                        <path
                            d="M117.8 51.7c-.2-1.5-1.7-1.8-1.7-1.8-.2-4.1-2.2-17.1-2.2-17.1 1.3-.2 1.1-1.3 1.1-1.3l-.8-3.6c-.2-1.2-1.3-1-1.3-1l-1-5.9c-2-3.3-25.7-3-25.7-3s-23.8-.4-25.8 2.9l-1 5.9s-1.1 0-1.3 1.1l-.8 3.5s-.2 1.2 1.1 1.4c0 0-2 13-2.2 17.1 0 0-1.8.1-2 1.8v4.6s.5 1.5 1.8 1.7c0 0 .9 9.6 2.6 16.4 0 0-1.5.1-1.2 1.5l.8 3.5s.2 1 1.8 1l1.3 5.4s3.3 4.3 25 4.3 25-4.3 25-4.3l1.3-5.4c1.4-.1 1.7-.8 1.7-.8l.8-3.6c.3-1.4-1.2-1.6-1.2-1.6 1.7-7.6 2.6-16.4 2.6-16.4 1.4-.5 1.5-1.8 1.5-1.8l-.2-4.5zM85.7 89.4c-21.2-.2-23.9-4-23.9-4l-1.2-4.8c8.7 1.9 25 1.9 25 1.9v6.9zm0-21.4s-2.6.3-2.6 2.9 2.6 3 2.6 3v2.6c-17.1-.1-26.4-2.1-26.4-2.1C57.4 66 56.7 58 56.7 58h29v10zm0-18.2H56.9c-.1-2.4 2.2-17.2 2.2-17.2 12.6-2.3 26.5-2.1 26.5-2.1v19.3zm0-25.2c-15.5-.1-25.5 2-25.5 2l.9-5.5c2-2.6 24.6-2.5 24.6-2.5v6zm.8.7s16.2 0 26.6 2.3c0 0 .2-.1.4.7l.6 2.9s.5.7-.6.8c0 0-6.9-2.2-27.1-2.2v-4.5zm0 42.8s2.5.5 2.5 2.9c0 2.5-2.5 2.9-2.5 2.9v-5.8zm27.7 7.5-.8 3.5s0 .3-.5.4c-.6.2-10.8 2.2-26.5 2.2v-4.5s18.2.2 27.2-2.2c.1.1.6.1.6.6zm2.9-19.6s-.1 1.1-1.2 1.3H86.6v-6.7H116s1.2.2 1.2 1.4l-.1 4z" />
                    </g>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" class="menu__icone menu__icone--lupa" viewBox="0 0 37 35"
                    xml:space="preserve">
                    <path
                        d="M22.5.5a14 14 0 0 0-14 14c0 2.8.8 5.4 2.3 7.6l-9.4 8c-1 .9-1.2 2.5-.3 3.5a2.5 2.5 0 0 0 3.5.3l9.6-8.1a14 14 0 0 0 22.3-11.3 14 14 0 0 0-14-14zm0 25a11 11 0 0 1-11-11 11 11 0 0 1 11-11 11 11 0 0 1 11 11 11 11 0 0 1-11 11z" />
                </svg>

                <div class="menu__barra menu__barra--fechado">
                    <ul class="menu__lista">
                        <li class="menu__item">
                            Páginas
                        </li>
                        <li class="menu__item">
                            Nova página
                        </li>
                        <li class="menu__item">Sair</li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main class="novaPagina">
        <h1 class="novaPagina__titulo">Nova página "Cerveja"</h1>
        <form action="nova-pagina-add" method="post" class="novaPagina__formulario">
            <div class="novaPagina__item--expande">
                <label for="novaPagina__imagem">Cerveja imagem</label>
                <img id="imagem" data-imagemFormulario src="imgs/coloque-imagem.png" alt="" class="novaPagina__entrada novaPagina__entrada--imagem">
                <input id="novaPagina__imagem" name="imagemCerveja" class="novaPagina__entrada--invisivel" data-entradaImagem type="file"
                    alt="Carregue uma imagem aqui" accept="image/png, image/jpeg">
            </div>

            <div class="novaPagina__item">
                <label for="nomeCerveja">Nome da Cerveja</label>
                <input type="text" class="novaPagina__entrada" name="nomeCerveja" id="nomeCerveja">
            </div>

            <div class="novaPagina__item">
                <label for="tipo">Tipo</label>
                <input type="text" class="novaPagina__entrada" name="tipo" id="tipo">
            </div>
            
            <div class="novaPagina__item">
                <label for="teorAlcoolico">Teor Alcoólico</label>
                <input type="text" class="novaPagina__entrada" name="teorAlcoolico" id="teorAlcoolico">
            </div>

            <div class="novaPagina__item">
                <label for="fabricante">Fabricante</label>
                <input type="text" class="novaPagina__entrada" name="fabricante" id="fabricante">
            </div>

            <div class="novaPagina__item novaPagina__item--slogan">
                <label for="slogan">Slogan</label>
                <input type="text" class="novaPagina__entrada" name="slogan" id="slogan">
            </div>

            <div class="novaPagina__item">
                <label for="origem">Origem</label>
                <input type="text" class="novaPagina__entrada" name="origem" id="origem">
            </div>

            <div class="novaPagina__item">
                <label for="criador">Criador</label>
                <input type="text" class="novaPagina__entrada" name="criador" id="criador">
            </div>

            <div class="novaPagina__item">
                <label for="introduzido">Introduzido</label>
                <input type="text" class="novaPagina__entrada" name="introduzido" id="introduzido">
            </div>

            <div class="novaPagina__item novaPagina__item--expande">
                <label for="origemNome">Origem do nome</label>
                <textarea type="text" class="novaPagina__entrada novaPagina__item--expande" name="origemNome" id="origemNome"></textarea>
            </div>

            <div class="novaPagina__botoes">
                <button class="botao botao--novaPagina" type="submit">Criar página</button>
                <button class="botao botao--novaPagina botao--cancelar">Cancelar</button>
            </div>
        </form>
    </main>

    <script>
        var imagemFormulario = document.querySelector("[data-imagemFormulario]")
        imagemFormulario.addEventListener("click", function(){
            document.querySelector("[data-entradaImagem]").click();
        });
    </script>

    <script src="js/menu.js"></script>

</body>

</html>