<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/svgs/favicon.svg">

  <title>{{title}}</title>

  {{>_cssReset}}
  {{>_cssMenu}}
  {{>_cssFiltro}}
  {{>_cssBreadcrumb}}
  {{>_cssConteudo}}
  {{>_cssCerveja}}
  {{>_cssTabela}}
  {{>_cssRodape}}
</head>

<body class="fonte corpo">

  {{>_navbar}}
  {{{body}}}
  {{>_rodape}}

  <script src="/js/menu.js"></script>
  <script src="/js/menu-pesquisa.js"></script>
</body>

</html>