.tabela__dado{
    align-items: center;
    border-bottom: .1rem solid var(--cor-texto);
    color: var(--cor-texto);
    display: inline-flex;
    padding: 1.1rem 2rem;
    word-break: break-all;
}

.tabela__dado--ultimo{
    border: 0;
}