.login{
    background-image: linear-gradient(to bottom left, var(--cor-complementar), var(--cor-principal));
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}