.galeria__overlay{
  align-items: center;
  background-color: #2F1700;
  bottom: 0;
  display: flex;
  height: 5rem;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .galeria__overlay{
    background-color: rgba(45, 23, 0, 0.75);
  }
}
